*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: white;
	width: 1500px;
	height: 2250px;
	margin: auto;
}
.menu{
	width: 1500px;
	height: 50px;
	border: 2px solid;
	box-sizing: border-box;
	
}
.right {
	width: 496px;
	height: 50px;
	float: left;
	box-sizing: border-box;
	padding-top: 10px;
}
.right a{
	font-size:25px;
	margin-left: 10px;	
    color: black;
	text-decoration: none;
}
.right img{
	margin-left: 30px;
}
.left{
	width: 1000px;
	height: 50px;
	float: right;
}
.left a{
	float: right;
	margin-right: 60px;
	font-size: 20px;
	color: black;
	text-decoration: none;
	padding-top: 10px;
}
.lesson{
/*	background: #FFF505;*/
	width: 1500px;
	height: 500px;
	margin-top: 50px
}
.right1 {
/*	background: #F000F7;*/
	width: 500px;
	height: 500px;
	float: left;
	text-align: center;
}
.right1 a{
	text-align: center;
	float: top;
	text-decoration: none;
	color: black;
}
.right1 button{
	width: 100px;
	height: 30px;
	background: #0005FF;
	border: none;
	color: white;
	margin-top: 30px;
}
.right1 button a{
	width: 100px;
	height: 30px;
	display: inline-block;
	border: none;
	color: white;
	line-height: 30px;
	text-decoration: none;
}

.left1 {
	background: white;
	width: 1000px;
	height: 500px;
	float: left;
}
.left1 img{
	margin-left: 110px;
}
.about{
/*	background: #00FFEB;*/
	width: 1500px;
	height: 500px;
	margin-top: 50px;
	border:2px solid #000000;
}
.column1 {
/*	background: #7A00F1;*/
	width: 500px;
	height: 500px;
	float: left;
	text-align: center;
}
.column1{
	padding-top: 200px;
	box-sizing: border-box;
}
.column1 a{
	text-decoration: none;
	color: black;
}
.column1 button{
	width: 100px;
	height: 30px;
	background: #0005FF;
	border: none;
	color: white;
	margin-top: 30px;
}
.column1 button a{
	width: 100px;
	height: 30px;
	display: inline-block;
	border: none;
	color: white;
	line-height: 30px;
	text-decoration: none;
}
.column2{
/*	background: #0200FF;*/
	width: 500px;
	height: 500px;
	float: left;
	text-align: center;
}
.column2 a:hover{
	color: aqua;
	transition-duration: 0.5s;
}
.column3 a:hover{
	color: aqua;
	transition-duration: 0.5s;
}
.column3{
/*	background: #CD7109;*/
	width: 500px;
	height: 500px;
	float: left;
	text-align: center;
}
.review{
/*	background: #00F989;*/
	width: 1500px;
	height: 500px;
    margin-top: 50px;
}
.right3 {
/*	background: #5D03EF;*/
	width: 1000px;
	height: 500px;
	float: left;
}
.left3 {
/*	background: #96F900;*/
	width: 500px;
	height: 500px;
	float: left;
	text-align: center;
	margin-top: 50px;
}
.left3 ul li a{
	text-decoration: none;
	color: black;
	border: 2px soli
}
.left3 ul li a:hover{
	color: aqua;
	transition-duration: 0.5s;
}
.contact{
/*	background: #00F989;*/
	width: 1500px;
	height: 500px;
    margin-top: 50px;
	border: 2px solid #000000;
	text-align: center;
}
.contact input{
	height: 70px;
	border: none;
	border-bottom: 3px solid black;
	
}
.contact textarea{
	height: 70px;
	border: none;
	border-bottom: 3px solid black;
	margin-top: 50px;
}
.right2 {
/*	background: #FF0509;*/
	width: 600px;
	height: 500px;
	float: left;
	text-align: center;
	margin-top: 150px;
	margin-left: 300px;
}
.left2 {
/*	background: #016018;*/
	width: 500px;
	height: 500px;
	float: left;
	text-align: center;
	margin-top: 100px;
}
.right3 button{
	padding: 15px 25px;
	background: none;
	color: black;
	font-size: 15px;
	border: black solid 4px;
	
}
.one ul li a{
	float: left;
	text-decoration: none;
	color: black;
}
.one ul{
	list-style: none;
}
.left3 ul{
	list-style: none;
}